@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);

  color: rgba(33, 43, 54, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-k-header.is-open .q-k-header-background {
  left: 0;
}
.q-k-header-button-wrapper {
  margin-left: auto;
}
.q-k-header-icon {
  display: none;
}

.q-k-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-k-navigation-list.is-open {
  right: 0;
}
.q-k-header-icon-menu {
  display: block;
}

.q-k-header-icon-button.is-open .q-k-header-icon-menu {
  display: none;
}

.q-k-header-icon-button.is-open .q-k-header-icon-close {
  display: block;
}

.q-k-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(1, 77, 170, 1);
}

.q-k-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(1, 77, 170, 1);
}
.q-k-header.is-open .q-k-header-background {
  left: 0;
}
.q-k-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-k-header-icon-menu {
  display: block;
}

.q-k-header-icon-button.is-open .q-k-header-icon-menu {
  display: none;
}

.q-k-header-icon-button.is-open .q-k-header-icon-close {
  display: block;
}

.q-k-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 20px;
  position: relative;
}

.q-k-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 40px;
  gap: 30px;
  background: rgba(1, 77, 170, 1);
}

.q-k-navigation-list.is-open {
  right: 0;
}

.q-k-navigation-link {
  font-family: REM;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.q-k-navigation-link:hover,
.q-k-navigatioт-link:focus {
  font-family: REM;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
}

.q-k-header.is-open {
  background-color: transparent;
}

.q-k-navigation-img {
  display: none;
}

@media screen and (min-width: 1213px) {
  .q-k-navigation-img {
    display: flex;
  }
  .q-k-policy-terms-header-icon-menu {
    display: none;
  }

  .q-k-header {
    width: 100%;
    height: 78px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .q-k-header-background {
  }
  .q-k-header-icon-button {
    display: none;
  }
  .q-k-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-k-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 18px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-k-navigation-link {
    font-family: REM;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;

    padding: 0 30px;
    text-decoration: none;
  }

  .q-k-navigation-item-desk {
    display: none;
  }
}
.q-k-home {
  width: 375px;
  height: 847px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/33.png");
  margin: auto;
}
.q-k-home-container {
  width: 375px;
  padding: 140px 20px 0px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
}

.q-k-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.q-k-home-title-img {
  width: 334.03399658203125px;
}
.q-k-home-title {
  font-family: REM;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;

  padding: 16px 0;
}

.q-k-home-text {
  font-family: REM;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 36px;
}

.q-k-home-google-button-image {
  width: 335px;
}

.q-k-home-google-button-link:hover .q-k-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1213px) {
  .q-k-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/Home.png");
  }
  .q-k-home-container {
    width: 1440px;
    padding: 224px 125px 0px 92px;
  }
  .q-k-home-container-top {
    flex-direction: row;
    gap: 12px;
  }

  .q-k-home-title-img {
    width: 551px;
  }
  .q-k-home-title {
    font-family: REM;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0;
  }

  .q-k-home-text {
    font-family: REM;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    padding: 16px 0 52px;
  }
  .q-k-home-google-button-image {
    width: 340px;
    margin: auto;
  }
}
.q-k-about {
  background: linear-gradient(360deg, #4150c8 0%, #0d2277 100%);
}
.q-k-about-container {
  width: 375px;
  height: 1238px;
  padding: 64px 20px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ Us.png");
}
.q-k-about-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.q-k-about-title {
  font-family: REM;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(245, 245, 245, 1);
}

.q-k-about-text {
  font-family: REM;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.q-k-about-list {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  font-family: REM;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  gap: 24px;
}
.q-k-about-item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.q-k-about-item img {
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 1213px) {
  .q-k-about {
    background: linear-gradient(360deg, #4150c8 0%, #0d2277 100%);
  }
  .q-k-about-container {
    width: 1440px;
    height: 1130px;
    padding: 92px 80px;
    background-image: url("/img/About\ Us\ \(1\).png");
  }
  .q-k-about-div {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 348px;
  }
  .q-k-about-title {
    font-family: REM;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-k-about-text {
    font-family: REM;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    width: 675px;
  }

  .q-k-about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 650px;
    font-family: REM;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    column-gap: 72px;
    gap: 36px;
  }
  .q-k-about-item {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 604px;
  }
  .q-k-about-item img {
    width: 60px;
    height: 60px;
  }
}
.q-k-why {
  background: linear-gradient(180deg, #4150c8 0%, #0d2277 100%);
}

.q-k-why-container {
  width: 375px;
  height: 2447px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Benefits.png");
  padding: 64px 20px;
}
.q-k-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.q-k-why-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
  width: 234px;
  height: 235px;
  padding: 48px 20px 0;
  margin: auto;
  color: rgba(0, 49, 119, 1);
}

.q-k-why-text-bold {
  font-family: REM;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  height: 56px;
  text-align: center;
}
.q-k-why-text {
  font-family: REM;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 4px;
}

@media screen and (min-width: 1213px) {
  .q-k-why {
    background: linear-gradient(180deg, #4150c8 0%, #202762 130.66%);
  }
  .q-k-why-container {
    width: 1440px;
    height: 822px;
    margin: auto;
    padding: 92px 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Benefits\ \(1\).png");
  }
  .q-k-why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px;
  }
  .q-k-why-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/1.png");
    width: 234px;
    height: 235px;
    padding: 48px 20px 0;
    margin: 0;
    color: rgba(0, 49, 119, 1);
  }
}
.q-k-reviews {
  background: rgba(41, 51, 126, 1);
}
.q-k-reviews-container {
  margin: auto;
  padding: 64px 16px;
  width: 375px;
}
.q-k-reviews-list {
  padding: 60px 0 32px;
}

.q-k-reviews-item {
  margin: 0 5px;
  width: 335px;
  height: 372px;
  border-radius: 8px;
  padding: 24px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 1px 2px 8px 0px rgba(37, 101, 208, 0.14);
  color: rgba(33, 43, 54, 1);
}

.q-k-reviews-item-top {
  display: flex;
  gap: 12px;
  align-items: center;
}

.q-k-reviews-text-bold {
  font-family: REM;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}

.q-k-reviews-text {
  font-family: REM;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}

@media screen and (min-width: 1213px) {
  .q-k-reviews-container {
    margin: auto;
    padding: 90px 80px;
    width: 1440px;
  }
  .q-k-reviews-list {
    padding: 60px 0 0px;
  }

  .q-k-reviews-item {
    margin: 0 12px;
    width: 365px;
    height: 420px;
    border-radius: 8px;
    padding: 24px;
  }

  .q-k-reviews-item-top {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .q-k-reviews-text-bold {
    font-family: REM;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .q-k-reviews-text {
    font-family: REM;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.q-k-faq {
  background: linear-gradient(0deg, #5463e1 0.13%, #29337e 99.87%);
}
.q-k-faq-container {
  padding: 64px 20px;
  width: 375px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-image: url("/img/3.png");
}
.q-k-faq-list {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.q-k-faq-item {
  border-radius: 12px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  background: rgba(255, 255, 255, 1);
}

.q-k-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: REM;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.q-k-faq-answer {
  display: none;
  font-family: Sora;
  margin-top: 20px;
  padding-left: 16px;
  font-family: REM;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  box-shadow: 3px 0px 0px 0px rgba(4, 139, 246, 1) inset;
}
.q-k-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1213px) {
  .q-k-faq-container {
    padding: 92px 270px;
    width: 1440px;
    margin: auto;
  }
  .q-k-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .q-k-faq-item {
    border-radius: 12px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
  }

  .q-k-faq-question {
    font-family: REM;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .q-k-faq-answer {
    display: none;
    font-family: Sora;
    margin-top: 20px;
    padding-left: 16px;
    font-family: REM;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.q-k-gallery {
  background: linear-gradient(180deg, #4150c8 0%, #0d2277 100%);
}
.q-k-gallery-container {
  width: 375px;
  margin: auto;
  padding: 64px 20px;
}
.q-k-uniqueness-list {
  padding: 32px 0 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: rgba(255, 255, 255, 1);
}
.q-k-uniqueness-text-bold {
  font-family: REM;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.q-k-uniqueness-text {
  font-family: REM;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.q-k-gallery-list {
  padding: 40px 0 0;
}

.q-k-gallery-item {
  width: 335px;
  height: 596px;
  border-radius: 12px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.q-k-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.q-k-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.q-k-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.q-k-gallery-button:hover {
  scale: 120%;
}
.q-k-gallery-button-containerqq {
  display: none;
}
@media screen and (min-width: 1213px) {
  .q-k-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 92px 80px;
  }

  .q-k-uniqueness-list {
    padding: 40px 0 0;
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
  .q-k-uniqueness-text-bold {
    font-family: REM;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .q-k-uniqueness-text {
    font-family: REM;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;

    width: 228px;
  }

  .q-k-gallery-list {
    padding: 60px 0 0;
  }
  .q-k-gallery-item {
    width: 421px;
    height: 748px;
    border-radius: 12px;
    border-width: 8px;

    overflow: hidden;
    position: relative;
    margin: 0 10px;
  }

  .q-k-gallery-button-containerq {
    display: none;
  }
  .q-k-gallery-button-containerqq {
    display: flex;
  }
  .q-k-gallery-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .q-k-gallery-button-containers {
    position: absolute;
    z-index: 10;
  }
  .q-k-reviews-list-left {
    position: absolute;
    top: -230px;
    z-index: 10;
    left: 0px;
  }
  .q-k-reviews-list-right {
    position: absolute;
    top: -230px;
    left: 1230px;
    z-index: 10;
  }
}

.q-k-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: REM;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.q-k-policy-terms-title {
  font-family: REM;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.q-k-policy-terms-text {
  padding-top: 20px;
  font-family: REM;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.q-k-policy-terms-texts {
  padding-top: 8px;
}

.q-k-policy-terms-text-one {
  padding-top: 20px;
}

.q-k-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.q-k-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.q-k-email-link {
  color: inherit;
  text-decoration: none;
}

.q-k-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1213px) {
  .q-k-policy-terms-container {
    padding: 152px 80px 60px;
    width: 1440px;
    font-family: REM;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .q-k-policy-terms-title {
    font-family: REM;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .q-k-policy-terms-text {
    padding-top: 40px;
    font-family: REM;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .q-k-policy-terms-text-one {
    padding-top: 30px;
  }

  .q-k-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.q-k-footer-container {
  width: 375px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  color: rgba(255, 255, 255, 1);
}

.q-k-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-family: REM;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

.q-k-footer-text {
  text-decoration: none;
  color: inherit;
}

.q-k-footer-copyright {
  font-family: REM;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1213px) {
  .q-k-footer-container {
    width: 1440px;
    padding: 40px 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 170px;
  }

  .q-k-footer-wrapper {
    display: flex;
    flex-direction: row;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    gap: 4px;
  }

  .q-k-footer-copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
  }
}

.q-k-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.18);

  z-index: 1000;
  display: none;
}

.q-k-cookie-popup-text-two {
  font-family: REM;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  color: rgba(45, 40, 40, 1);
}

.q-k-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.q-k-cookie-button {
  border: none;
  background-color: transparent;
  font-family: REM;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: rgba(45, 40, 40, 1);
}

#accept-cookies {
  background: rgba(60, 133, 217, 1);
  width: 166px;
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: REM;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.q-k-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1213px) {
  .q-k-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-k-cookie-popup-text-two {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    width: 900px;
  }

  .q-k-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-k-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
